<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <li class="nav-item nav-profile">
            <a href="#" class="nav-link">
                <div class="nav-profile-image">
                    <img src="https://i.hizliresim.com/liy5kqp.jpg" alt="profile" />
                    <span class="login-status online"></span>
                </div>
                <div class="nav-profile-text d-flex flex-column">
                    <span class="font-weight-bold mb-2">Yunus Güldaş</span>
                    <span class="text-secondary text-small">CV Sahibi</span>
                </div>
                <i class="mdi mdi-bookmark-check text-success nav-profile-badge"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="~/Default/Index/">
                <span class="menu-title">Başlık</span>
               
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="~/Description/Index/">
                <span class="menu-title">Açıklama</span>
              
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="~/Experience/Index/">
                <span class="menu-title">Deneyim</span>
             
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="~/Education/Index/">
                <span class="menu-title">Eğitim</span>
              
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="~/Membership/Index/">
                <span class="menu-title">Üyelik ve Organizasyonlar</span>
              
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="~/Language/Index/">
                <span class="menu-title">Dil Yetkinlikleri</span>
             
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="~/Stack/Index/">
                <span class="menu-title">Teknik Beceriler</span>
             
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="~/Voluntary/Index/">
                <span class="menu-title">Gönüllülük & Topluluk Faaliyetleri</span>
             
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="~/Testimonial/Index/">
                <span class="menu-title">Referanslar</span>
             
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="~/CV/Index/">
                <span class="menu-title">CV'ye Git!</span>
             
            </a>
        </li>
        </li>
    </ul>
</nav>