@using CvMakerApp.Entity.Entities
@model Description
@{
    ViewData["Title"] = "AddDescription";
    Layout = "~/Views/Admin/Index.cshtml";
}
<h3>Hakkında Metni</h3>
<br />
<form method="post">
    <label>Metin: </label>
    <textarea rows="12" class="form-control" asp-for="DescriptionText"></textarea><br />
    <button type="submit" class="btn btn-primary">Ekle</button>
</form>