@using CvMakerApp.Entity.Entities
@model Education
@{
    ViewData["Title"] = "AddEducation";
    Layout = "~/Views/Admin/Index.cshtml";
}
<h3>Okul Ekle</h3>
<br />
<form method="post">
    <label>Okul: </label>
    <input type="text" class="form-control" asp-for="SchoolName" /><br />
    <label>Pozisyon: </label>
    <input type="text" class="form-control" asp-for="Department" /><br />
    <label>Başlangıç Tarihi: </label>
    <input type="text" class="form-control" asp-for="EducationalType" /><br />
    <label>Başlangıç Tarihi: </label>
    <input type="text" class="form-control" asp-for="StartDate" /><br />
    <label>Bitiş Tarihi: </label>
    <input type="text" class="form-control" asp-for="EndDate" /><br />
    <button type="submit" class="btn btn-primary">Ekle</button>
</form>



