@using CvMakerApp.Entity.Entities
@model Language
@{
    ViewData["Title"] = "AddLanguage";
    Layout = "~/Views/Admin/Index.cshtml";
}
<h3>Dil Ekle</h3>
<br />
<form method="post">
    <label>Dil Adı: </label>
    <input type="text" class="form-control" asp-for="LanguageName" /><br />
    <label>Dil Seviyesi: </label>
    <input type="text" class="form-control" asp-for="LanguageLevel" /><br />
    <button type="submit" class="btn btn-primary">Ekle</button>
</form>




