@using CvMakerApp.Entity.Entities
@model Stack
@{
    ViewData["Title"] = "AddStack";
    Layout = "~/Views/Admin/Index.cshtml";
}
<h3>Teknik Beceriler</h3>
<br />
<form method="post">
    <label>Beceriler: </label>
    <input type="text" class="form-control" asp-for="Description" /><br />
    <button type="submit" class="btn btn-primary">Ekle</button>
</form>






