@using CvMakerApp.Entity.Entities
@model Testimonial
@{
    ViewData["Title"] = "AddTestimonial";
    Layout = "~/Views/Admin/Index.cshtml";
}
<h3>Resefans Ekle</h3>
<br />
<form method="post">
    <label>Referans Adı: </label>
    <input type="text" class="form-control" asp-for="TestimonialName" /><br />
    <label>Pozisyon: </label>
    <input type="text" class="form-control" asp-for="position" /><br />
    <label>Şieket: </label>
    <input type="text" class="form-control" asp-for="Company" /><br />
    <button type="submit" class="btn btn-primary">Ekle</button>
</form>




