@using CvMakerApp.Entity.Entities
@model Stack
@{
    ViewData["Title"] = "UpdateStack";
    Layout = "~/Views/Admin/Index.cshtml";
}
<h3>Beceri Güncelle</h3>
<br />
<form method="post">
    <input type="hidden" class="form-control" asp-for="StackId" value="@Model.StackId" />
    <label>Dil Adı: </label>
    <input type="text" class="form-control" asp-for="Description" value="@Model.Description" /><br />
    <button type="submit" class="btn btn-primary">Güncelle</button>
</form>
