@using CvMakerApp.Entity.Entities
@model List<Membership>

<section>
    <h2>Üyelik ve Organizasyonlar</h2>
    <ul>
        @foreach (var item in Model)
        {
              <li><strong>@item.Organisation</strong>, @item.StartDate – @item.EndDate</li>
        }
</section>